*.env
*/env/*
.key
*/db-old/*
*/old-faiss/*
*/env/*
*/out
*requirements2.txt
*test.py
*.DS_Store
*/node_modules/*
scraper/
*/db/*
*ping.sh
*tmp.py
*/__pycache__/*
*structured_data.csv
*unstructured_data.csv
*/build/*
*log.txt
*/new-ada-url-db/*
*/old-db/*
